.debit {
  margin-top: 4rem;
  background-color: #fff;
  padding: 10px;
  &-header {
    display: flex;
    justify-content: space-between;
  }

  &-slider {
    &--title {
      display: flex;
      gap: 20px;
      padding-bottom: 2rem;
      h1 {
        color: #efb8c8;
        font-size: font-size(font-size-small);
        font-weight: font-weight(font-weight-medium);
      }
    }
    &--content {
      .interactive-demo {
        display: flex;
        flex-direction: row;
        gap: 80px;

        .message {
          font-size: font-size(font-size-small);
        }
      }
    }
  }
}

.configuration {
  &-title {
    font-size: font-size(font-size-small);
    font-weight: font-weight(font-weight-medium);
  }
  label {
    font-size: font-size(font-size-small);
  }
}
// Chip
.chip {
  display: inline-flex;
  background-color: #d8cee7;
  border: none;
  height: 43px;
  color: #2d1a53;
  font-size: font-size(font-size-small);
  align-items: center;
  border-radius: 40px;
  padding: 5px;
}
.chip-head {
  display: flex;
  position: relative;
  overflow: hidden;
  background-color: #2d1a53;
  font-size: 1.25rem;
  flex-shrink: 0;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  width: 36px;
  height: 36px;
  font-size: 20px;
  margin-right: -4px;
  color: #fff;
}

.chip-btn {
  font-size: 2.8rem;
  font-variation-settings: "FILL" 0, "wght" 200;
  cursor: pointer;
}

.chip-content {
  cursor: inherit;
  display: flex;
  align-items: center;
  user-select: none;
  white-space: nowrap;
  padding-left: 10px;
  padding-right: 10px;
}
.chip-btn:hover {
  color: #3b3b3b;
}

.height-chip {
  height: 30px;
}