.debit {
  margin-top: 4rem;
  background-color: #fff;
  padding: 10px;
  &-header {
    display: flex;
    justify-content: space-between;
  }

  &-slider {
    &--title {
      display: flex;
      gap: 20px;
      padding-bottom: 2rem;
      h1 {
        color: #efb8c8;
        font-size: font-size(font-size-small);
        font-weight: font-weight(font-weight-medium);
      }
    }
    &--content {
      .interactive-demo {
        display: flex;
        flex-direction: row;
        gap: 80px;

        .message {
          padding: 0 0.5rem;
          font-size: font-size(font-size-very-small);
        }
      }

      .configuration {
        &-title {
          font-size: font-size(font-size-small);
        }

        &-input-container {
          color: #3d1188;

          input {
            padding: 10px;
          }
          label {
            font-size: font-size(font-size-very-small);
          }
        }
      }
    }
  }
}

