*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background-color: #dae2f9;
  font-family: "Roboto", sans-serif;
  line-height: 1.9;
  padding: 0.5rem;
  max-width: 1281px;
}

.container {
  width: 100%;
  margin: 3rem;
}

li {
  list-style: none;
}

a:link,
a:visited {
  text-decoration: none;
  letter-spacing: 0.2rem;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 600, "GRAD" 0, "opsz" 48;
  padding: 0.4rem 0.4rem 0.4rem 0;
  font-size: calc(1rem + 0.5vw);
  vertical-align: middle;
}

.title-icon {
  display: inline-block;
  vertical-align: -2px;
  font-size: calc(0.5rem + 0.5vw);
}

.stop-icon {
  color: #aac7ff;
  font-variation-settings: "FILL" 1, "wght" 100, "GRAD" 0, "opsz" 48;
  padding: 0.3rem;
}

.circle-icon {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
  color: #2d5da8;
}

.star-icon {
  color: #6490de;
  font-size: 1.5rem;
  vertical-align: top;
}

.warning-icon {
  color: #b3261e;
}

.tag-green {
  color: #118844;
  background-color: #ddffee;
  font-size: calc(0.5rem + 0.5vw);
  padding: 0 1rem;
  border-radius: 50px;
}

.tag-red {
  color: #ba1b1b;
  background-color: #ffdad4;
  font-size: calc(0.5rem + 0.5vw);
  padding: 0 1rem;
  border-radius: 50px;
}

.header-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-user-logo {
  width: 50px;
}

.header-user-name {
  padding-left: 6px;
  font-size: calc(1.5rem + 1vw);
}

.header-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  padding-left: 6px;
}

.header-status {
  padding: 10px 6px;
  font-size: calc(1rem + 0.5vw);
}

.forms {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (max-content)[3];
      grid-template-columns: repeat(3, -webkit-max-content);
      grid-template-columns: repeat(3, max-content);
  width: 100%;
  padding-top: 1rem;
  grid-gap: 10px;
}

.forms-form--title {
  font-size: calc(0.5rem + 0.5vw);
  font-weight: 500;
}

.forms-form--para {
  font-size: calc(1rem + 0.5vw);
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
}

.debit {
  margin-top: 4rem;
  background-color: #fff;
  padding: 10px;
}

.debit-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.debit-header--date {
  font-size: calc(0.5rem + 0.5vw);
}

.debit-status {
  line-height: 1.7;
  margin: 1.4rem 0;
  color: #21005d;
  font-size: calc(1rem + 0.5vw);
}

.debit-status .next,
.debit-status .current {
  color: #9a82db;
}

.debit-status .red {
  color: #b3261e;
}

.debit-slider--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  padding-bottom: 2rem;
}

.debit-slider--title h1 {
  color: #efb8c8;
  font-size: calc(1rem + 0.5vw);
  font-weight: 500;
}

.debit-slider--content .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.5rem;
  max-width: 50rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.debit-slider--content .form-container .form {
  display: block;
  width: 100%;
  padding: 0.5rem 1.5rem;
  border: 1px solid #f4eff4;
  border-right: none;
  color: #6750a4;
  font-size: calc(1rem + 0.5vw);
}

.debit-slider--content .form-container .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.debit-slider--content .form-container .input-container[data-error] .input {
  color: #c92432;
}

.debit-slider--content .form-container .input-container[data-error]::after {
  content: attr(data-error);
  font-size: 1.2rem;
  color: #c92432;
  display: block;
}

.debit-slider--content .form-container .input {
  border: none;
  color: #6750a4;
  font-size: calc(1rem + 0.5vw);
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.debit-slider--content .form-container ::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #21005d;
  opacity: 1;
  /* Firefox */
}

.debit-slider--content .form-container :-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #21005d;
  opacity: 1;
  /* Firefox */
}

.debit-slider--content .form-container ::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #21005d;
  opacity: 1;
  /* Firefox */
}

.debit-slider--content .form-container ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #21005d;
  opacity: 1;
  /* Firefox */
}

.debit-slider--content .form-container input:focus {
  outline: none !important;
  border-color: #f4eff4;
}

.debit-slider--content .form-container .lable {
  background-color: #f4eff4;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.debit-slider--content .form-container .form-icon-container {
  border: 1px solid #f4eff4;
  color: #21005d;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.debit-slider--content .form-container .form-icon-container .form-icon {
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */