*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background-color: #dae2f9;
  font-family: "Roboto", sans-serif;
  line-height: 1.9;
  padding: 0.5rem;
  max-width: 1281px;
}

.container {
  width: 100%;
  margin: 3rem;
}

li {
  list-style: none;
}

a:link,
a:visited {
  text-decoration: none;
  letter-spacing: 0.2rem;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 600, "GRAD" 0, "opsz" 48;
  font-size: calc(1rem + 0.5vw);
  vertical-align: middle;
}

.title-icon {
  display: inline-block;
  font-size: calc(0.5rem + 0.5vw);
}

.stop-icon {
  color: #aac7ff;
  font-variation-settings: "FILL" 1, "wght" 100, "GRAD" 0, "opsz" 48;
  padding: 0.3rem;
}

.circle-icon {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
  color: #2d5da8;
}

.star-icon {
  color: #6490de;
  font-size: calc(0.5rem + 0.5vw);
  vertical-align: top;
}

.warning-icon {
  color: #b3261e;
}

.field-icon {
  color: rgba(0, 0, 0, 0.4745098039);
  font-size: calc(1rem + 0.5vw);
}

.tag-green {
  color: #118844;
  background-color: #ddffee;
  font-size: calc(0.5rem + 0.5vw);
  padding: 0 1rem;
  border-radius: 50px;
}

.tag-red {
  color: #ba1b1b;
  background-color: #ffdad4;
  font-size: calc(0.5rem + 0.5vw);
  padding: 0 1rem;
  border-radius: 50px;
}

.error {
  color: #b3261e;
}

.correct {
  color: #118844;
}

.header-user {
  display: flex;
  align-items: center;
}
.header-user-logo {
  width: 50px;
}
.header-user-name {
  padding-left: 6px;
  font-size: calc(1.5rem + 1vw);
}
.header-tags {
  display: flex;
  gap: 10px;
  padding-left: 6px;
}
.header-status {
  padding: 10px 6px;
  font-size: calc(1rem + 0.5vw);
}

.fields-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 1rem;
  gap: 10px;
}

.field-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 60rem;
  border: 1px solid #f4eff4;
  border-radius: 4px;
  transition: ease-in-out 0.2s;
}

.field-icon-container {
  display: flex;
  width: 30px;
  justify-content: center;
}

.star-icon-container {
  margin: 0 0 5px 0;
}

.label-container {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  align-items: center;
  background-color: #f4eff4;
  flex: 1;
  transition: ease-in-out 0.2s;
  color: #9a82db;
}

.label {
  font-size: calc(1rem + 0.5vw);
  padding: 0 0.5rem;
}

.input-container {
  display: flex;
  flex-direction: row;
  padding: 0.5rem 1rem;
  justify-content: space-between;
  flex: 1;
}

.input {
  font-size: calc(1rem + 0.5vw);
  color: #21005d;
  border: none;
  background-color: transparent;
}

.title {
  font-size: calc(0.5rem + 0.5vw);
  font-weight: 500;
  padding-bottom: 0.5rem;
}

.para {
  font-size: calc(1rem + 0.5vw);
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
}

input:focus {
  outline: none !important;
}

::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(33, 0, 93, 0.5803921569);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(33, 0, 93, 0.5803921569);
  opacity: 1; /* Firefox */
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(33, 0, 93, 0.5803921569);
  opacity: 1; /* Firefox */
}

.input-right {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4eff4;
  border-radius: 4px;
  padding: 0 0.5rem;
}

.field-type {
  font-size: calc(1rem + 0.5vw);
  color: #9a82db;
  padding: 0.5rem;
}

.rquired {
  font-size: calc(1rem + 0.5vw);
}

.active {
  display: none;
}

.max-content {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  flex: none;
}

.flex {
  flex-direction: column;
}

.label-edit {
  background-color: #3d1188;
  color: white;
}

.white-text {
  color: white;
}

.dark-text {
  color: #3d1188;
}

.dark-border {
  border-color: #3d1188;
}

.rquired-color {
  color: #b3261e;
}

.change-label-container {
  height: 3rem;
}

.change-label-text {
  font-size: calc(0.5rem + 0.5vw);
}

.no-border {
  border: none;
}

.no-background {
  background-color: transparent;
}

.debit {
  margin-top: 4rem;
  background-color: #fff;
  padding: 10px;
}
.debit-header {
  display: flex;
  justify-content: space-between;
}
.debit-slider--title {
  display: flex;
  gap: 20px;
  padding-bottom: 2rem;
}
.debit-slider--title h1 {
  color: #efb8c8;
  font-size: calc(1rem + 0.5vw);
  font-weight: 500;
}
.debit-slider--content .interactive-demo {
  display: flex;
  flex-direction: row;
  gap: 80px;
}
.debit-slider--content .interactive-demo .message {
  font-size: calc(1rem + 0.5vw);
}

.configuration-title {
  font-size: calc(1rem + 0.5vw);
  font-weight: 500;
}
.configuration label {
  font-size: calc(1rem + 0.5vw);
}

.chip {
  display: inline-flex;
  background-color: #d8cee7;
  border: none;
  height: 43px;
  color: #2d1a53;
  font-size: calc(1rem + 0.5vw);
  align-items: center;
  border-radius: 40px;
  padding: 5px;
}

.chip-head {
  display: flex;
  position: relative;
  overflow: hidden;
  background-color: #2d1a53;
  font-size: 1.25rem;
  flex-shrink: 0;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  width: 36px;
  height: 36px;
  font-size: 20px;
  margin-right: -4px;
  color: #fff;
}

.chip-btn {
  font-size: 2.8rem;
  font-variation-settings: "FILL" 0, "wght" 200;
  cursor: pointer;
}

.chip-content {
  cursor: inherit;
  display: flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
  padding-left: 10px;
  padding-right: 10px;
}

.chip-btn:hover {
  color: #3b3b3b;
}

.height-chip {
  height: 30px;
}/*# sourceMappingURL=style.css.map */